/* ------------------------ */
/* ----- REBEL LEGION ----- */
/* --------- CSS ---------- */
/* ------------------------ */

/*pour que les champs invalides soit rouges*/
:invalid {
  box-shadow: red;
}

:-moz-submit-invalid {
  box-shadow: red;
}

:-moz-ui-invalid {
  box-shadow: red;
}

.is-valid-label{
	color: #00a200;
}

/* Ci dessous, solution temporaire car la hauteur du slider "orbit"
  n'est pas recalculé dans la version 6.2.4 de Foundation
  Cela sera probablement corrigé dans la version 6.3*/
ul.orbit-container {
    height: auto !important;
}
li.orbit-slide {
    max-height: none !important;
}

/*pour le top comment tout en haut */
.top-comment {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9010;
	height: 18px;
	line-height: 18px;
	background: rgba(50,50,50,0.8);
	box-shadow: 0 4px 7px rgba(50,50,50,0.8);
	color: gray;
	padding: 0 5px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

/*pour le mot de passe*/
#show-password-icon
{
	font-size: 33px;
	padding: 2px
}

.no-min-width{
	min-width: 0;
}

/*1er élément de contenu de la page*/
.first-element{
	padding-top: 1rem;
}

/*résoud un soucis de superposition */
.sticky {
  z-index: 11; }

.sticky.is-stuck {
  z-index: 11; }

/* --------------------- */
/* ----     ***     ---- */
/* --------------------- */
/* --------------------- */
/* -------- TOP -------- */
/* --------------------- */
/* ---  rebellegion  --- */

.rl-header .rl-header-content {
z-index: 999;
height: 180px;
padding: 0;
padding-top: 20px;
position: relative;
background-size: 50% 50%;
background-position: 50% 50%;
background-image: url("../img/bg-header.png");
-webkit-transition: background-size 8s; /* Safari 3.1 to 6.0 */
transition: background-size 8s;
}

@media screen and (min-width: 64em) {
	.rl-header > .rl-header-content {
	height: 180px;
	box-shadow: none;
	}
}

.rl-header .rl-header-content:hover {
background-size: 150% 150%
}

.rl-header .rl-header-content .columns {
position: relative;
}

.rl-header .rl-header-RL {
float: left;
width: 632px;
height: 160px;
}

.rl-header .rl-header-RL img {
width: 632px;
height: 160px;
}

.rl-header .rl-header-SO {
display: none;
position: absolute;
bottom: 0;
right: 15px;
width: 340px;
height: 160px;
}

.rl-header .rl-header-SO img {
position: absolute;
bottom: 0;
width: 340px;
height: 160px;
}

@media screen and (min-width: 64em) {
	.rl-header .rl-header-SO {
	display: block;
	}
}

/* ofc */
.rl-ofc {
background: transparent;
}

.rl-mobile-ofc {
font-size: 0.8125rem;
font-weight: bold;
padding-right: 40px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 3px;
}

.rl-mobile-ofc .menu a {
height: 35px;
line-height: 35px;
color: rgb(166,141,69);
padding-top: 0;
padding-bottom: 0;
padding-left: 1.4rem;
}

.rl-mobile-ofc .menu a:hover {
padding-left: 1.2rem; /* original: 1rem */
border-left: solid 0.2rem rgb(166,141,69);
}

.rl-mobile-ofc > li > a {
color: rgb(20,20,20);
}

.rl-mobile-ofc > li > a:hover {
border-left: solid 0.2rem rgb(237,237,237);
padding-left: 0.8rem; /* original: 1rem */
border-color: rgb(20,20,20);
}

.rl-mobile-ofc .title {
color: #8a8a8a;
padding: 10px;
padding-left: 15px;
font-size: 0.8em;
background: rgb(29,41,50);
}

.rl-mobile-ofc .button {
background-color: rgb(87,87,87);
}

.rl-mobile-ofc .button:hover {
background-color: rgb(107,107,107);
border: 1px solid transparent;
padding-left: 1rem; /* original: 1rem */
}


/* topbar for small and medium */


.title-bar-title {
height: 45px;
line-height: 45px !important;
padding-top: 0 !important;
padding-bottom: 0 !important;
color: #fefefe;
text-transform: uppercase;
}

.title-bar::before, .title-bar::after {
content: ' ';
display: table;
}

.title-bar::after {
clear: both;
}



.title-bar .dropdown.menu > li > a:hover {
background-color: rgba(255,255,255,0.05);
font-size: 1.35rem;
}

.title-bar .dropdown.menu > li > .button {
background-color: rgba(87,87,87,0.5);
}

.title-bar .dropdown.menu > li > .button:hover {
background-color: rgba(87,87,87,0.35);
}

.title-bar .dropdown.menu .submenu {
border: 0;
box-shadow: 0 3px 3px rgba(0,0,0,0.5);
width: 50px;
}

.title-bar .dropdown.menu .submenu a {
background: rgb(44, 56, 64);
}

.title-bar .dropdown.menu .submenu a:hover {
border-left: solid 0.2rem rgb(200,0,0);
padding-left: 0.8rem; /* original: 1rem */
}

/* arrow spacing */
.title-bar .dropdown.menu > li.is-dropdown-submenu-parent > a {
padding-right: 1.6rem;
}

/* arrow design */
.title-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
border: inset 7px;
border-color: transparent rgb(192,171,105) transparent transparent;
border-top-style: solid;
border-bottom-width: 0;
right: 10px;
}


/* topbar  + titlebar*/

.rl-topbar-container, .title-bar {
width: 100%;
box-shadow: 0 5px 5px;
background: rgb(44, 56, 64);
font-size: 1.25rem;
}

.rl-topbar {
z-index: 2;
position: relative;

/*font-size: 0.8125rem;*/
font-weight: bold;
max-width: 75rem;
width: 100%;
margin: 0 auto;
height:45px;
}

.rl-topbar::before, .rl-topbar::after {
content: ' ';
display: table;
}

.rl-topbar::after {
clear: both;
}

.rl-topbar ul:first-child {
float: left;
}

.rl-topbar ul:last-child {
float: right;
}

.title-bar {
  padding-left: 0.5rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.title-bar .title-bar-right a, .rl-topbar .menu a {
color: #fefefe;
}

.title-bar-left, .dropdown.menu {
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

.menu .active > a {
	color: rgb(237,237,237);
	background: rgb(217,50,50);
	border-top-left-radius: 4rem 6rem;
	border-top-right-radius: 0.7em;
	border-bottom-right-radius: 4rem 6rem;
	border-bottom-left-radius: 0.7em;
}

@media screen and (min-width: 64em) {
	a.anchor {
	display: block;
	position: relative;
	top: -60px; /* .rl-topbar.menu.height + 15px of margin */
	visibility: hidden;
	}
}

.rl-topbar .topbar-title > a img {
height: 20px;
margin-right: 0;
}

.rl-topbar .topbar-title span {
color: rgb(250,250,250);
font-size: 75%;
font-family: serif;
font-weight: normal;
text-transform: uppercase;
letter-spacing: 3px;
}

.rl-topbar .dropdown.menu > li > a:hover {
background-color: rgba(255,255,255,0.1);
font-size: 1.35rem;
}

.rl-topbar .dropdown.menu > li > .button {
background-color: rgba(87,87,87,0.5);
}

.rl-topbar .dropdown.menu > li > .button:hover {
background-color: rgba(87,87,87,0.35);
}

.rl-topbar .dropdown.menu .submenu {
border: 0;
box-shadow: 0 3px 3px rgba(0,0,0,0.5);
width: 50px;
}

.rl-topbar .dropdown.menu .submenu a {
background: rgb(44, 56, 64);
}

.rl-topbar .dropdown.menu .submenu a:hover {
border-left: solid 0.2rem rgb(200,0,0);
padding-left: 0.8rem; /* original: 1rem */
}

.rl-topbar .title {
padding: 10px;
padding-left: 15px;
font-size: 0.8em;
background: rgb(99,62,41);
color: rgb(250,250,250);
}

/* arrow spacing */
.rl-topbar .dropdown.menu > li.is-dropdown-submenu-parent > a {
padding-right: 1.6rem;
}

/* arrow design */
.rl-topbar .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
border: inset 7px;
border-color: transparent rgb(192,171,105) transparent transparent;
border-top-style: solid;
border-bottom-width: 0;
right: 10px;
}


/* -------------------- */
/* ----     ***     ---- */
/* -------------------- */
/* -------------------- */
/* ----     BOT     ---- */
/* -------------------- */

#bot {
background: rgb(44, 56, 64);
padding: 1rem 2.5rem 1.5rem 2.5rem;
color: #597288;
text-align: left;
}

	#bot .bot_title {
	color: rgb(237,237,237);
    margin-top: 0.5em;
	}

	#bot .bot_menu {
	list-style: none;
	margin: 0 0 1rem 0;
	padding: 0;
	font-size: 0.875rem;
	}

	#bot .bot_menu li {
	display: table-cell;
	padding: 0 2.5rem 0 0;
	font-size: 75%;
	}

	#bot .bot_menu li a {
	display: inline-block;
	color: rgb(237,237,237);
	padding: 0.4rem 0;
	}

/* --------------------- */
/* ----     ***     ---- */
/* --------------------- */
/* --------------------- */
/* ----    MENU     ---- */
/* --------------------- */
/* ---               --- */

.rl-left-nav {
background-color: rgb(201,199,190);
margin: 0 0 1rem 0;
}

.rl-left-nav li:hover a {
background-color: rgb(190,188,178);
}

.rl-left-nav li.current {
background-color: rgb(190,188,178);
font-weight: bold;
}

.rl-left-nav li.current a {
border-left: solid 0.2rem blue;
padding-left: 0.8rem; /* original: 1rem */
}

/* text-big */
.menu.text-big, .menu.text-big ul {
font-size: 1.2rem;
}
@media screen and (min-width: 40em) {
	.menu.text-big, .menu.text-big ul {
	font-size: 1.4rem;
	}
}
@media screen and (min-width: 64em) {
	.menu.text-big, .menu.text-big ul {
	font-size: 1.6rem;
	}
}

/* ---     game      --- */

.rl-left-nav li.current a {
border-left: solid 0.2rem rgb(99,62,41);
}

/* --------------------- */
/* ----     ***     ---- */
/* --------------------- */
/* --------------------- */
/* ----    TABLES   ---- */
/* --------------------- */
/* ---    mercari    --- */

table.rl-table {
width: 100%;
}

table.rl-table thead, table.rl-table tbody, table.rl-table tfoot {
border: none;
}

table.rl-table tbody tr {
background: rgb(190,188,178);
}

table.rl-table thead tr, table.rl-table tbody tr:nth-child(2n) {
background-color: rgb(181,179,168);
}

/* ---     about      --- */

table.about tbody tr:nth-child(2n) {
background: rgb(190,188,178);
}

table.about th {
text-align: right;
}

table.about th, table.about td {
vertical-align: top;
}

/* first-letter-cap */
table.first-letter-cap td:first-letter, table.first-letter-cap th:first-letter {
text-transform: uppercase;
}

/* --------------------- */
/* ----     ***     ---- */
/* --------------------- */
/* --------------------- */
/* ----   CALLOUT   ---- */
/* --------------------- */

.callout-header-line{
	border-bottom: 5px solid rgb(214,50,50);

	border-bottom-right-radius: 0.7em;
	border-bottom-left-radius: 0.7em;
	margin-bottom: 1rem;
}

.callout-header {
position: relative;
margin-top: 2rem;

padding: 0.5rem 1rem;
font: 200% impact, futura, sans-serif;
color: rgb(20,20,20);
font-weight: bold;
text-transform: uppercase;

border-color: rgb(214,50,50);
border-bottom-width: 4px;
border-left-width: 3px;
border-right-width: 1px;
border-bottom-style: solid;
border-left-style: solid;
border-top-left-radius: 4rem 6rem;
border-bottom-right-radius: 2rem 2rem;
border-bottom-left-radius: 0.7em;
}

.callout-header span {
background: url('../img/headings-worn.gif');
position: absolute;
width: 100%;
height: 2rem;
}

.callout-header button {
float: right;
font-size: 1.6rem;
}

/* --------------------- */
/* -------- *** -------- */
/* --------------------- */

.anim-star-wars
{
	height: 4rem;
	font-size: 0.85rem;
	color: #ff6;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(150px) rotateX(35deg);
}


.anim-star-wars:after
{
	position: absolute;
	content: ' ';
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

.anim-star-wars-child
{
	position: absolute;
	top: 60%;
}

.anim-star-wars-child:hover
{
	animation: scroll 20s linear forwards;
}

@keyframes scroll {
	0% { top: 60%; }
	100% { top: -450%; }
}
